@import './variables';

.menu {
    font-family: $defaultFontFamily;
    background-color: $defaultBackgroundColour;
    color: $defaultFondColour;
    font-size: $defaultFontSize;
    line-height: $defaultLineHeight;
    width: $defaultMenuWidth;
    padding: 18px 28px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;

    .menu__logo {
        height: 36px;
    }

    .menu__title {
        font-size: 1.1rem;
        position: absolute;
        top: 17px;
        left: 54px;
        font-weight: normal;
    }

    .menu__sub-title {
        font-size: 0.9rem;
    }

    .menu__selection {
        height: 30px;
        width: 150px;
        border-radius: 0;
        margin-left: 13px;
    }

    .menu__separator {
        margin-top: .8rem;
        margin-bottom: .8rem;
    }
}

.button-holder {
    position: relative;
    height: 35px;
    margin: 20px 0;

    .button-holder__button {
        color: $buttonFontColour;
        width: 40%;
        height: 35px;
        display: inline-block;
        border: 0;
        padding: 0;
        position: absolute;
        font-size: 100%;
    }

    .button-holder--left {
        background-color: $buttonYellowColour;
        left: 0;
    }

    .button-holder--right {
        background-color: $buttonRedColour;
        right: 0;
    }
}